* {
    margin: 0;
    font-family: SourceSans3_Regular, SourceSans3_Black, SourceSans3_Bold, SourceSans3_Medium, -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    box-sizing: border-box;
  }